trunk/clamshell-cli-project/dist/*
trunk/clamshell-cli-project/clamshell-api/target/*
trunk/clamshell-cli-project/clamshell-shell/target/*
trunk/clamshell-cli-project/clamshell-console/target/*
trunk/clamshell-cli-project/clamshell-commons/target/*
trunk/clamshell-cli-project/clamshell-launcher/target/*
trunk/clamshell-cli-project/clamshell-echo-controller/target/*
trunk/clamshell-cli-project/clamshell-cmd-controller/target/*
trunk/clamshell-cli-project/clamshell-commands/target/*
trunk/clamshell-cli-project/clamshell-splashscreen/target/*
trunk/clamshell-cli-project/project-assembler/target/*

trunk/clamshell-cli-project/clamshell-jmx-controller/*

trunk/test-components/NonClamshellPlugin/build/*
trunk/test-components/NonClamshellPlugin/dist/*
trunk/test-components/SimplePlugin/build/*
trunk/test-components/SimplePlugin/dist/*
trunk/test-components/SimpleShell/build/*
trunk/test-components/SimpleShell/dist/*
 
