{
    "properties":{
        "libDir":"../mock-env/lib",
        "pluginsDir":"../mock-env/plugins"
    },

    "controllers":{
        "cli.clamshell.impl.CmdController":{
            "activated":"true",
            "inputPattern":"\s*(exit|help|sysinfo|time)\b.*"
        },
        "cli.clamshell.impl.EchoController":{
            "activiated":"false",
            "inputPattern":".*"
        }
    }
}
