{
    "properties":{
        "libDir":"./lib",
        "pluginsDir":"./plugins"
    },

/************************************************
 *           proposed future additions          *
 ************************************************/
    These changes will be supported by a new ComponentManager 
    that loads classes directly instead of relying on java.util.ServiceLoader.

    "splash-screens":[],

    "shell":{
        "class":"cli.clamshell.impl.CliShell"
    },

    "console":{"class":"cli.clamshell.impl.CliConsole"},

    "prompt":{
        "value":"promptValue",
        "class":"cli.clamshell.impl.CliPrompt"
     },

    "commands":{
        "cli.clamshell.impl.HelpCommand":{
            "<commandId>":"help",
            "usage:"",
            "description":""
        },
    }

/************************************************/

    "controllers":{
        "cli.clamshell.impl.CmdController":{
            "enabled":"true",
            "inputPattern":"\\s*(exit|help|sysinfo|time)\\b.*",
            "expectedInputs":[]
        },
        "cli.clamshell.jmx.JmxController":{
            "enabled":"true",
            "inputPattern":"\\s*(ps)\\b.*",
            "expectedInputs":[]
        },
        "cli.clamshell.impl.EchoController":{
            "enabled":"false",
            "inputPattern":".*",
            "expectedInputs":[]
        }
    }
}