{
    "properties":{
        "libDir":"/lib",
        "pluginsDir":"/plugins"
    },

    "controllers":{
        "org.clamshellcli.impl.CmdController":{
            "activated":"true",
            "inputPattern":"\s*(exit|help|sysinfo|time)\b.*"
        },
        "org.clamshellcli.impl.EchoController":{
            "activiated":"false",
            "inputPattern":".*"
        }
    }
}