{
    "properties":{
        "libDir":"./lib",
        "pluginsDir":"./plugins"
    },

    "controllers":{
        "cli.clamshell.impl.CmdController":{
            "enabled":"true",
            "inputPattern":"\\s*(exit|help|sysinfo|time)\\b.*",
            "expectedInputs":[]
        },
        "cli.clamshell.jmx.JmxController":{
            "enabled":"true",
            "inputPattern":"\\s*(ps|connect|mbean|desc|list|exec)\\b.*",
            "expectedInputs":[]
        }
    }
}
